
body{
  position: relative;
}
canvas{
  background-image: url("img/back.JPG");
  background-size: 600px 600px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}
.fr_red,.fr_yellow,.frs_red,.sn_head,.Joint{
  display: none;
}
.fon{
  position: absolute;
  top: 100px;
  font-size: 34px;
}
.over1, .over2{
  position: absolute;
  left: 43%;
  top: 45%;
  width: 200px;
  height: 50px;
  display: none;
  background-color: aquamarine;
  border: 1px solid darkcyan;
}
.over1 p, .over2 p{
  text-align: center;
  line-height: 20px;
}
.fon_bgm{
  position: absolute;
  font-size: 15px;
  left: 70px;
  top: 80%;
}
.home_bgm{
  position: absolute;
  font-size: 15px;
  left: 5px;
  top: 300px;
}